.container{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.search_form,
.container,
.jobs,
.job_desc .tags_list,
.job_desc,
.jobs_img,
.tags_section{
    display: flex;
}
.search_form input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;;
    outline: none;
    border: none;
    background-color: #0e010118;
    color: rgb(52, 10, 241);
    padding:10px;
}

.totop{
    position:sticky;
    bottom: 10px;
    float:right;
    background-color:dodgerblue;
    border: none;outline: none;
    border-radius: 5px;
    height: 30px;
    color: #FFF;
    cursor: pointer;
}



.search_form{
    justify-content:space-evenly;
    width: 40%;
}
.tags_section{
    width: 100%;
    flex-wrap: wrap;
}
.jobs{
    border-style: dashed;
    border-width: 2px;
    border-color: dodgerblue;
    margin:20px;
    min-height:300px;
    width: 400px;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #5a5a5a,  
                 -5px -5px 10px #ffffff;
                 cursor: move;
}
.job_desc .tags_list{
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.search_form button{
    height:30px;
}

.gh{
    position: fixed;
    top: 0;
    right:0;
    float:right;
    z-index: 99999;
}

.apply,
.tags,
.search_form button,
.job_desc .tags{
    color:#FFFFFF;
    background-color: dodgerblue;
    border:none;
    outline:none;
    width: fit-content;
    margin:5px;
    font-size:20px;
    border-radius: 5px;;
    cursor: pointer;
}
.job_desc{
    width: calc(100% -100px);
    flex-flow: column;
    justify-content: center;
    place-items: center;
}
.job_desc h1{
    font-size: 20px;
}

.company_logo{
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
}

.jobs_img{
    justify-content: center;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
}